03 NodeRED Backup/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Testflow","disabled":false,"info":""},{"id":"1d441ac1fb9bdc85","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"4398e43987276aee","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"InfluxDB-iot","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","timeout":10,"rejectUnauthorized":true},{"id":"11d291c0b0d0cf83","type":"mqtt-broker","name":"hivemq","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"3d9c5a49b95d8be6","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"influxdb-test","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://host.docker.internal:8086","timeout":10,"rejectUnauthorized":true},{"id":"35ce3177d362f802","type":"mqtt-broker","name":"HiveMQ","broker":"b12450ae831942678407c69bd234209f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8ee731ca9843138d","type":"inject","z":"f6f2187d.f17ca8","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"iot/sensors/temperature","payload":"","payloadType":"date","x":90,"y":40,"wires":[[]]},{"id":"0712ad247cfa43be","type":"function","z":"f6f2187d.f17ca8","name":"function 1","func":"// payload ist nach deinem json-node schon Objekt oder sonst String:\nconst p = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\n// nur echte Zahlen zulassen\nfunction num(x) {\n\tconst n = Number(x);\n\treturn Number.isFinite(n) ? n : null;\n}\n\n// esp schickt in seconds -> wir brauchen ms\n//const ts_ms = Number(p.timestamp) * 1000; // timestamp in ms umwandeln da influxdb ms\nconst ts_ns = Number(p.timestamp) * 1e9;\n\n// FIELDS (nur Messwerte -> Zahlen)\n//msg.payload = {\n//\ttemperature: num(p.temperature),\n//\thumidity: num(p.humidity),\n//\tpressure: num(p.pressure),\n//\taltitude: num(p.altitude),\n//};\n\n// optional: location_id auch als Tag (Strings)\n//msg.tags = {\n//\tdevice: p.device || \"esp32-group03\",\n//\tlocation: p.location || \"unknown\",\n//\tlocation_id: String(p.location_id ?? \"unknown\"),\n//\tgroup: \"Gruppe03\"\n//};\n\n// timestamp ist in Sekunden -> auf ms umrechnen\n//msg.timestamp = new Date(Number(p.timestamp) * 1000);\n\n//return msg;\n\nmsg.payload = [{\n\tmeasurement: \"sensor_data\",          // <- WICHTIG: Measurement setzen\n\ttags: {                              // <- Tags in den Point packen (sicherer als msg.tags)\n\t\tdevice: p.device || \"esp32-group03\",\n\t\tlocation: p.location || \"unknown\",\n\t\tlocation_id: String(p.location_id ?? \"unknown\"),\n\t\tgroup: \"Gruppe03\"\n\t},\n\tfields: {                            // <- Fields in den Point packen\n\t\ttemperature: num(p.temperature),\n\t\thumidity: num(p.humidity),\n\t\tpressure: num(p.pressure),\n\t\taltitude: num(p.altitude),\n\t\tesp_ts: Number(p.timestamp)        // optional zum Debug\n\t},\n\t//timestamp: ts_ms                      // <- WICHTIG: als Zahl, nicht Date()\n\ttimestamp: ts_ns\n}];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":120,"wires":[["287b59136962dbc9","5da038d30a6e9948"]]},{"id":"287b59136962dbc9","type":"debug","z":"f6f2187d.f17ca8","name":"dummy2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":120,"wires":[]},{"id":"5da038d30a6e9948","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"4398e43987276aee","name":"","measurement":"dummy","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot_Gruppe03","bucket":"iot","x":850,"y":180,"wires":[]},{"id":"ffd1f3a41c9a3f36","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"group3/sensors/#","qos":"2","datatype":"auto-detect","broker":"35ce3177d362f802","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":100,"wires":[[]]},{"id":"6b963ad84da38b5b","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":120,"wires":[["0712ad247cfa43be","ad86d614a2c328f7"]]},{"id":"ad86d614a2c328f7","type":"debug","z":"f6f2187d.f17ca8","name":"dummy1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":180,"wires":[]},{"id":"c73605b739ccb141","type":"debug","z":"f6f2187d.f17ca8","name":"dummy3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":60,"wires":[]},{"id":"a87fe719610dbbe3","type":"mqtt in","z":"1d441ac1fb9bdc85","name":"","topic":"group3/sensors/tettnang","qos":"0","datatype":"auto-detect","broker":"35ce3177d362f802","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":360,"wires":[["4183ab7865beabff"]]},{"id":"2a5576589c282cb8","type":"json","z":"1d441ac1fb9bdc85","name":"","property":"payload","action":"obj","pretty":false,"x":130,"y":160,"wires":[["a700de9d5a55fdd1","c12a0e77b6a66cf7","8f316aa28c17297e","9e5ac2d9590349bd"]]},{"id":"58551dc6d60439db","type":"json","z":"1d441ac1fb9bdc85","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":160,"wires":[["866f061bfa290f6f"]]},{"id":"a607dc31d6f3df61","type":"influxdb out","z":"1d441ac1fb9bdc85","influxdb":"4398e43987276aee","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot_Gruppe03","bucket":"standort-1","x":690,"y":360,"wires":[]},{"id":"4183ab7865beabff","type":"link call","z":"1d441ac1fb9bdc85","name":"","links":["ad86cd276cc834d7"],"linkType":"static","timeout":"30","x":370,"y":360,"wires":[["a607dc31d6f3df61","1267484ef983b643"]]},{"id":"ad86cd276cc834d7","type":"link in","z":"1d441ac1fb9bdc85","name":"logic","links":[],"x":35,"y":160,"wires":[["2a5576589c282cb8"]]},{"id":"866f061bfa290f6f","type":"link out","z":"1d441ac1fb9bdc85","name":"logic result","mode":"return","links":[],"x":755,"y":160,"wires":[]},{"id":"57f8982e3fd3bd5b","type":"influxdb out","z":"1d441ac1fb9bdc85","influxdb":"4398e43987276aee","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot_Gruppe03","bucket":"standort-2","x":690,"y":400,"wires":[]},{"id":"02e74319e89cdecd","type":"link call","z":"1d441ac1fb9bdc85","name":"","links":["ad86cd276cc834d7"],"linkType":"static","timeout":"30","x":370,"y":400,"wires":[["57f8982e3fd3bd5b","d0c335ed8592b43b"]]},{"id":"9ad6cdf927b5fe55","type":"influxdb out","z":"1d441ac1fb9bdc85","influxdb":"4398e43987276aee","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot_Gruppe03","bucket":"standort-3","x":690,"y":440,"wires":[]},{"id":"fb2421bfef35918a","type":"link call","z":"1d441ac1fb9bdc85","name":"","links":["ad86cd276cc834d7"],"linkType":"static","timeout":"30","x":370,"y":440,"wires":[["9ad6cdf927b5fe55","9803a6802c7524cf"]]},{"id":"7d8b23364838646f","type":"mqtt in","z":"1d441ac1fb9bdc85","name":"","topic":"group3/sensors/meckenbeuren","qos":"0","datatype":"auto-detect","broker":"35ce3177d362f802","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":400,"wires":[["02e74319e89cdecd"]]},{"id":"61efdeb9428d11e9","type":"mqtt in","z":"1d441ac1fb9bdc85","name":"","topic":"group3/sensors/kressbronn","qos":"0","datatype":"auto-detect","broker":"35ce3177d362f802","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":440,"wires":[["fb2421bfef35918a"]]},{"id":"a700de9d5a55fdd1","type":"rbe","z":"1d441ac1fb9bdc85","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload.altitude","topi":"topic","x":310,"y":100,"wires":[["c730c97f28a53e31"]]},{"id":"c12a0e77b6a66cf7","type":"rbe","z":"1d441ac1fb9bdc85","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload.temperature","topi":"topic","x":310,"y":140,"wires":[["22036618925f14ae"]]},{"id":"c730c97f28a53e31","type":"function","z":"1d441ac1fb9bdc85","name":"altitude","func":"msg.payload = `{\"value\":${msg.payload.altitude},\"timestamp\":${msg.payload.timestamp}}`;\nmsg.measurement = \"altitude\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":100,"wires":[["58551dc6d60439db"]]},{"id":"22036618925f14ae","type":"function","z":"1d441ac1fb9bdc85","name":"temperature","func":"msg.payload = `{\"value\":${msg.payload.temperature},\"timestamp\":${msg.payload.timestamp}}`;\nmsg.measurement = \"temperature\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["58551dc6d60439db"]]},{"id":"8f316aa28c17297e","type":"rbe","z":"1d441ac1fb9bdc85","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload.humidity","topi":"topic","x":310,"y":180,"wires":[["5538df6a25cc5cbf"]]},{"id":"5538df6a25cc5cbf","type":"function","z":"1d441ac1fb9bdc85","name":"humidity","func":"msg.payload = `{\"value\":${msg.payload.humidity},\"timestamp\":${msg.payload.timestamp}}`;\nmsg.measurement = \"humidity\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["58551dc6d60439db"]]},{"id":"9e5ac2d9590349bd","type":"rbe","z":"1d441ac1fb9bdc85","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload.pressure","topi":"topic","x":310,"y":220,"wires":[["54c7a93478781fbd"]]},{"id":"54c7a93478781fbd","type":"function","z":"1d441ac1fb9bdc85","name":"pressure","func":"msg.payload = `{\"value\":${msg.payload.pressure},\"timestamp\":${msg.payload.timestamp}}`;\nmsg.measurement = \"pressure\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["58551dc6d60439db"]]},{"id":"1267484ef983b643","type":"debug","z":"1d441ac1fb9bdc85","name":"standort-1-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"d0c335ed8592b43b","type":"debug","z":"1d441ac1fb9bdc85","name":"standort-2-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"9803a6802c7524cf","type":"debug","z":"1d441ac1fb9bdc85","name":"standort-3-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":560,"wires":[]},{"id":"8953ea03bdfcae1a","type":"mqtt in","z":"1d441ac1fb9bdc85","name":"","topic":"group3/sensors/status","qos":"0","datatype":"auto-detect","broker":"35ce3177d362f802","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":740,"wires":[["fa442732105a7da0"]]},{"id":"fa442732105a7da0","type":"json","z":"1d441ac1fb9bdc85","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":740,"wires":[["1f41269adf73b497"]]},{"id":"1f41269adf73b497","type":"function","z":"1d441ac1fb9bdc85","name":"function","func":"var status = 0;\nif (msg.payload.status === \"online\") {\n    status = 1;\n} else if (msg.payload.status === \"offline\") {\n    status = 0;\n}\nmsg.payload = `{\"status\":${status}}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":740,"wires":[["eb8cb37d99b513ea"]]},{"id":"04bf8b5d13cfe077","type":"influxdb out","z":"1d441ac1fb9bdc85","influxdb":"4398e43987276aee","name":"","measurement":"status","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"iot_Gruppe03","bucket":"iot","x":810,"y":740,"wires":[]},{"id":"eb8cb37d99b513ea","type":"json","z":"1d441ac1fb9bdc85","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":740,"wires":[["04bf8b5d13cfe077"]]},{"id":"089e86b4cf5ce5ce","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]